.profile {
  width: 100%;
  background-color: var(--black-300);
  border-radius: var(--unit-4x);
  overflow: hidden;
}

.profile__background {
  width: 100%;
  height: var(--unit-35x);
  object-fit: cover;
}

.avatar-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--unit-10x);
  margin-top: calc(0rem - var(--unit-15x));
}

.avatar-infos__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 160%;
}

.avatar-infos__infos strong {
  color: var(--gray-100);
}

.avatar-infos__infos span {
  color: var(--gray-300);
  font-size: var(--unit-7x);
}

.profile footer {
  border-top: 1px solid var(--black-100);
  margin-top: var(--unit-12x);
  padding: var(--unit-12x);
}

.profile__edit {
  gap: var(--unit-5x);
  width: 100%;
  height: var(--unit-25x);
  color: var(--green-200);
  font-weight: 700;
  text-align: center;
  border: 1px solid var(--green-200);
  border-radius: var(--unit-4x);
  transition: all 0.1s;
}

.profile__edit svg {
  min-width: var(--unit-10x);
  height: var(--unit-10x);
}

.profile__edit:hover {
  background-color: var(--green-200);
  color: var(--white-100);
}

@media (max-width: 768px) {
  .profile__background {
    height: var(--unit-50x);
  }

  .avatar-infos-and-profile-edit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--unit-8x);
    padding: var(--unit-16x);
  }
  .avatar-infos {
    flex-direction: row;
    margin-top: initial;
  }

  .avatar-infos__infos {
    align-items: start;
  }

  .avatar-infos__infos strong,
  .avatar-infos__infos span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .profile footer {
    display: flex;
    align-items: center;
    width: 100%;
    margin: initial;
    padding: initial;
    border: none;
  }

  .profile__edit {
    padding: 0 var(--unit-8x);
  }
}

@media (max-width: 500px) {
  .profile__background {
    height: var(--unit-45x);
  }

  .avatar-infos-and-profile-edit {
    display: block;
    padding: initial;
  }

  .avatar-infos {
    justify-content: center;
    padding: var(--unit-12x);
  }

  .profile footer {
    padding: var(--unit-12x) ;
    border-top: 1px solid var(--black-100);
  }

  .profile__edit {
    max-width: 20rem;
    margin: auto;
  }

}
